.icons {
height: 50px;
width: 50px;
}
.airbnb img{
    width: 100px;
    height:auto;
}
.airbnb{
    width:20% ;
}
.container1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 217, 217);
  width: 100%;
  align-items: center;
  padding:0 40px;
  position: fixed;
  top:0;
  z-index: 1000;
  box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
.first1{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.all-things{
    display: flex;
    justify-content: center;
    gap:35px;
    width: 60%;
}
.all , .home, .experiences , .services{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all:hover,
.home:hover,
.experiences:hover,
.services:hover{
    border-bottom: 3px solid black;
}

.host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap :15px;
    width: 20%;
}
/**/
.second1{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 20px;
    height: 60px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 50px;
    background-color: rgb(251, 251, 251);
    overflow: hidden;
}
.where , .whoAndIcon , .when{
    flex: 1;
    height: 60px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.where , .when{
    border-right:1px solid #c3bdbd;
}
.when p , .where p , .whoAndIcon p{
    margin: 0;
    cursor: pointer;
}
.gray{
    color: gray;
}
.when:hover,
.where:hover,
.whoAndIcon:hover{
    background-color: rgb(224, 217, 217);
    border-radius: 50px;
}
.whoAndIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
/**/
.container2{
    padding-top: 200px;
}
.row{
    margin-left: 50px;
}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item img{
    width: 200px;
    height: 160px;
    border-radius: 25px;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
}
.item{
    position: relative;
    margin: 7px;
    border-radius: 25px;
}
.heart img {
    width: 25px;
    height: 25px;
}
.heart{
    position: absolute;
    top : 9px;
    left: 160px;
}
.item .desc {
  text-align: center;
  font-size: 14px;
  text-align: left;
}
/**/
.lastContainer{
    width: 100%;
    padding-left:30px;
    box-sizing: border-box;
    background-color: rgb(224, 217, 217);
    margin-top: 30px;
}

.tab{

   display: flex ;
   flex-direction: row;
   justify-content:flex-start;
   width: 100%;
   box-sizing: border-box;
   gap:30px;
   
}
.tab a{
   color: rgb(135, 131, 131);
   text-decoration: none;
   font-size: 17px;
}
.grid-cont{
    display: grid;
    grid-template-columns: 200px  200px 200px 200px 200px 200px;
    grid-template-rows: 100px  100px 100px ;
    margin-top: 30px;
}
.item-grid a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.799);
}

.SupportHostingAirbnb{
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 250px;
}
.SupportHostingAirbnb a,
.SupportHostingAirbnb p {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.799);
    padding: 10px;
}